resources/
build/
lib/
.vs/
_deps/
bin/logs/
assets/

*Config.h

*.meta

*.bmp
*.png
*.jpg
*.gif
*.dds

*.mp4
*.pdf
!GAMES102_report_*.pdf

*.html

*.rar
*.zip

*.doc
*.docx
*.ppt
*.pptx

*.filters
*.vcxproj
*.log
*.sln
*.user
*.dll
*.lib
*.exe
*.ilk
*.pdb

*.aux
*.bbl
*.blg
*.gz
*.bib
*/.idea/*
HW2/*
excellent/*

assets/materials/
assets/models/
assets/textures/

imgui*.ini
